//base
@use './partials/base/reset';
@use './partials/base/general';
@use './partials/base/tipografia';
@use './partials/base/responsive';

//components
@use './partials/components/footer';
@use './partials/components/cards';




