@use '../utilities/mixins';

.card{
    width: 250px;
    padding: 10px;
    margin: 10px;      
    }

.pres-juego{
    @include mixins.est-texto (center, 20px, black)         
    }

.desc-juego{
    @include mixins.est-texto (justify, 16px, darkgray)         
    }

.row{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: "card-body card-body card-body card-body";
    }

.p-borde {
    @include mixins.est-texto (right, 16px, white);       
    padding: 10px;
        }