.card{
    width: 250px;
    padding: 10px;
    margin: 10px;      
    }
.pres-juego{
    font-size: 20px;
    text-align: center;
    color :black;        
    }
.desc-juego{
    font-size: 16px;
    color :darkgray;        
    }
.row{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: "card-body card-body card-body card-body";
    }
.p-borde {
        text-align: right;
        font-size: 16px;
        color :white;
        padding: 10px;
        }