@use '../utilities/mixins';

.card{
    width: 250px;
    padding: 10px;
    margin: 10px;      
    }

.pres-juego{
    @include mixins.est-texto (center, 20px, black)         
    }

.desc-juego{
    @include mixins.est-texto (justify, 16px, darkgray)         
    }

.row{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: "card-body card-body card-body card-body";
    }

.contenido{    
    display: grid;
    align-items: center;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 20px;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "nota nota";
    }

.nota{
    height: 450px;
    width: 500px;
}

.cont-nota {
    height: 320px;
    width: 480px;
}

.desc-nota{
    @include mixins.est-texto (left, 20px, black)         
    }

.p-borde {
    @include mixins.est-texto (right, 16px, white);       
    padding: 10px;
    }