/*Responsive para tablets*/
@media(max-width: 1100px){
    body{
/*Para una mejor visi칩n del contenido, se cambia el fondo a blanco para mobile*/
    background-color :white;
        p{
            font-size: 16px;        
        }  
    }

/*Variaci칩n tama침o del contenedor de los iframes de notas*/
.contenido{        
    margin-top: 20px;    
    }

.nota{
    height: 320px;
    width: 360px;
}  

.cont-nota {
    height: 240px;
    width: 320px;
}

/*Elementos de la p치gina tipos_juegos*/
    .row{        
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "card-body card-body";
        }
    .pres-juego{
    font-size: 16px;
    }
    .desc-juego{
    font-size: 12px;
    }

/*Estilado formulario de contacto*/
    textarea{
    height: 300px;
    }
}
/*Responsive para celulares*/
@media(max-width: 550px){
    body{ 
        p{
            font-size: 12px;       
        }  
    }
    .row{
        display: grid;        
        grid-template-columns: 1fr;
        grid-template-areas: "card-body";
    }
    .pres-juego{
        font-size: 12px;
    }
    .desc-juego{
        font-size: 10px;
    }
    .retratos{
        grid-template-columns: 1fr;
        grid-template-areas: "portret";   
    }
    
    .contenido{    
    grid-template-columns: 1fr;
    grid-template-areas: "nota";
    }

    textarea{
    height: 200px;
    }
}