@use '../utilities/mixins';

h1{
    color: black;    
}

body{ 
    font-family: Oswald;
    color :black;
    background-color :gray;
    align-items: center;
    p{
        @include mixins.est-texto (justify, 24px,rgb(60, 54, 54))        
    } 
}

main{
    margin: 20px;  
}  

.p-nav {
    @include mixins.est-texto (left, 16px, white)               
}

.annav {
    @include mixins.est-texto (left, 15px, black)         
} 

textarea{
    height: 400px;
    width: 80%;
}

.retratos{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "portret portret";   
}

.portret{    
    height: 300px;
    width: 300px;
    background-color: black; 
    margin: 15px;
    padding: 10px;     
}

.portext{
    @include mixins.est-texto (justify, 20px, white)      
}



