h1{
    color: black
}

body{ 
    font-family: Oswald;
    color :black;
    background-color :gray;
    p{
        color: rgb(60, 54, 54);
        font-size: 24px;
        text-align: justify;
    }  
    }
main{
    margin: 20px;    
    }

