@charset "UTF-8";
/*Fuente Oswald */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Oswald:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1 {
  color: black;
}

body {
  font-family: Oswald;
  color: black;
  background-color: gray;
  align-items: center;
}
body p {
  text-align: justify;
  font-size: 24px;
  color: rgb(60, 54, 54);
}

main {
  margin: 20px;
}

.p-nav {
  text-align: left;
  font-size: 16px;
  color: white;
}

.annav {
  text-align: left;
  font-size: 15px;
  color: black;
}

textarea {
  height: 400px;
  width: 80%;
}

.retratos {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "portret portret";
}

.portret {
  height: 300px;
  width: 300px;
  background-color: black;
  margin: 15px;
  padding: 10px;
}

.portext {
  text-align: justify;
  font-size: 20px;
  color: white;
}

footer {
  background-color: rgb(30, 28, 28);
  text-align: right;
  margin-top: 20px;
}

.card {
  width: 250px;
  padding: 10px;
  margin: 10px;
}

.pres-juego {
  text-align: center;
  font-size: 20px;
  color: black;
}

.desc-juego {
  text-align: justify;
  font-size: 16px;
  color: darkgray;
}

.row {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "card-body card-body card-body card-body";
}

.contenido {
  display: grid;
  align-items: center;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "nota nota";
}

.nota {
  height: 450px;
  width: 500px;
}

.cont-nota {
  height: 320px;
  width: 480px;
}

.desc-nota {
  text-align: left;
  font-size: 20px;
  color: black;
}

.p-borde {
  text-align: right;
  font-size: 16px;
  color: white;
  padding: 10px;
}

/*Responsive para tablets*/
@media (max-width: 1100px) {
  body {
    /*Para una mejor visión del contenido, se cambia el fondo a blanco para mobile*/
    background-color: white;
  }
  body p {
    font-size: 16px;
  }
  /*Variación tamaño del contenedor de los iframes de notas*/
  .contenido {
    margin-top: 20px;
  }
  .nota {
    height: 320px;
    width: 360px;
  }
  .cont-nota {
    height: 240px;
    width: 320px;
  }
  /*Elementos de la página tipos_juegos*/
  .row {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "card-body card-body";
  }
  .pres-juego {
    font-size: 16px;
  }
  .desc-juego {
    font-size: 12px;
  }
  /*Estilado formulario de contacto*/
  textarea {
    height: 300px;
  }
}
/*Responsive para celulares*/
@media (max-width: 550px) {
  body p {
    font-size: 12px;
  }
  .row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "card-body";
  }
  .pres-juego {
    font-size: 12px;
  }
  .desc-juego {
    font-size: 10px;
  }
  .retratos {
    grid-template-columns: 1fr;
    grid-template-areas: "portret";
  }
  .contenido {
    grid-template-columns: 1fr;
    grid-template-areas: "nota";
  }
  textarea {
    height: 200px;
  }
}

/*# sourceMappingURL=style.css.map */
