/*Fuente Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Oswald:ital,wght@0,100..900;1,100..900&display=swap');
body{ 
    font-family: Oswald;
    color :black;
    background-color :gray;
    p{
        color: rgb(60, 54, 54);
        font-size: 24px;
        text-align: justify;
    }  
}
.p-borde {
            text-align: right;
            font-size: 16px;
            color :white;
            padding: 10px;
        }
/*En este orden para que cascadee el estilo de centrar en la nav*/
.nav-pc{
        display: grid;
        list-style-type: none;
        padding: 10px;
        background-color : black;
        text-decoration: none;
        text-align: center;
        grid-template-rows: 1, 50px;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        }
footer{
    background-color : black;
    text-align: right;
     }

