/*Fuente Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Oswald:ital,wght@0,100..900;1,100..900&display=swap');
body{ 
    font-family: Oswald;
    color :black;
    background-color :gray;
    p{
        color: rgb(60, 54, 54);
        font-size: 24px;
        text-align: justify;
    }  
}
main{
    margin: 20px;    
    }
.pres-juego{
    font-size: 20px;
    text-align: center;
    color :black;        
    }
.desc-juego{
    font-size: 16px;
    color :darkgray;        
    }
.card{
    width: 250px;
    padding: 10px;
    margin: 10px;      
    }
.p-borde {
            text-align: right;
            font-size: 16px;
            color :white;
            padding: 10px;
        }
.nav-pc{          
        /*background-color: bgdark;*/       
        }
.p-nav {
        text-align: left;
        font-size: 16px;
        color :white;        
        }
footer{
    background-color : black;
    text-align: right;
     }

